<div class="container mt-3 justify-content-center" data-controller='signup'>
  <h2 class="my-4 text-center">Comece por aqui seu cadastro</h2>
  <h4 class="mb-4 text-center">Você é cliente ou moderador?</h4>
  <div class="d-flex justify-content-evenly my-4">
    <div class="btn-choose-role" data-action="click->signup#showtherapist">Cliente</div>
    <div class="btn-choose-role" data-action="click->signup#showpatient">Moderador</div>
  </div>
  <%= render 'user_form' %>
  <%= render 'admin_form' %>

</div>
