<div class="footer">
  <div class="technician-infos">
    <div class="name-crea">
      <p> Técnico agrimensor: Pedro Gamero </p>
      <p> CREA: 5069875105-SP </p>
    </div>
    <div class="contacts">
      <%= link_to "https://wa.me/seu_numero_telefone", target: "_blank" do %>
        <%= fa_icon 'whatsapp', class: 'fab' %>
        Entre em Contato pelo WhatsApp
      <% end %>
    </div>
  </div>
</div>
