<div class="container container-knowledge">
  <div class="products-title text-center m-5 p-2">
    <h1>Um pouco sobre a topografia e seus benefícios</h1>
  </div>

  <div class="knowledge-topics d-flex justify-content-evenly">
    <div class="btn topic mb-3">
      <h6>CAR (Cadastro Ambiental Rural)</h6>
    </div>
    <div class="btn topic mb-3">
      <h6>CCIR (Certificado de Cadastro de Imóvel Rural)</h6>
    </div>
    <div class="btn topic mb-3">
      <h6>CNIR (Cadastro Nacional de Imóveis Rurais) </h6>
    </div>
    <div class="btn topic mb-3">
      <h6>Georreferenciamento</h6>
    </div>
  </div>

  <div class="knowledge-texts text-center">
    <div class="topic-car my-3">
      <h5 class="my-5">CAR (Cadastro Ambiental Rural)</h5>
      <p>O Cadastro Ambiental Rural (CAR) é um registro público eletrônico, obrigatório para todos os imóveis rurais, que tem por finalidade integrar as informações ambientais referentes à situação das áreas de preservação permanente (APP), das áreas de reserva legal, das florestas e dos remanescentes de vegetação nativa, das áreas de uso restrito e das áreas consolidadas das propriedades e posses rurais do país.</p>
      <p>Nesse sentido, fica claro que o conceito legal de “imóvel rural”, inclusive para fins do CAR, prioriza a destinação do imóvel e não a sua localização. Nessa linha, imóveis rurais que tenham seu perímetro localizado em zona urbana com destinação rural devem providenciar a sua inscrição regular no CAR pelo proprietário ou possuidor rural.</p>
    </div>

    <div class="topic-car my-3">
      <h5 class="my-5">CCIR (Certificado de Cadastro de Imóveis Rurais)</h5>
      <p>O Certificado de Cadastro de Imóvel Rural (CCIR) é um documento emitido pelo Incra que comprova a regularidade cadastral do imóvel rural. O certificado contém informações sobre o titular, a área, a localização, a exploração e a classificação fundiária do imóvel rural.</p>
      <p>O documento é pré-requisito para comprovação da inscrição do imóvel rural no Sistema Nacional de Cadastro Rural (SNCR) e etapa <strong>fundamental para legalização em cartório </strong> para venda, transferência, arrendamento, hipoteca, desmembramento, remembramento, partilha e obtenção de crédito agrícola de qualquer propriedade rural. O CCIR é obrigatório e válido até que se abra um novo prazo para emissão, contado a partir da data do pagamento da guia de validação.</p>
    </div>

    <div class="topic-car my-3">
      <h5 class="my-5">CNIR (Cadastro Nacional de Imóveis Rurais)</h5>
      <p>O Cadastro Nacional de Imóveis Rurais (CNIR) compreende uma base de dados estruturais sobre os imóveis rurais a serem compartilhados com instituições públicas e entidades da sociedade civil produtoras e consumidoras de informações cadastrais, que as utilizam para subsidiar seus processos de trabalho sob os mais diversos aspectos temáticos, tais como os de natureza fundiária, fiscal, ambiental, trabalhista, registral, de controle do tráfego negocial, de produção e outros que venham a ser agregados.</p>
      <p>Para o produtor rural, o CNIR representa a <strong>redução e simplificação</strong> de obrigações junto aos órgãos públicos e ao setor bancário, com expressiva redução de custos na prestação de informações e na contratação de financiamentos. Beneficia a todos os agentes econômicos pela agilidade e confiabilidade na coleta e compartilhamento de dados, com reflexos diretos na melhoria do ambiente de negócios do País.</p>
    </div>

    <div class="topic-car my-3 mb-5">
      <h5 class="my-5">Georreferenciamento</h5>
      <p>O georreferenciamento é uma técnica que associa informações geográficas a dados específicos, permitindo a localização precisa de objetos, lugares ou fenômenos na superfície terrestre. Por meio de tecnologias como GPS (Sistema de Posicionamento Global), SIG (Sistema de Informação Geográfica) e outras ferramentas especializadas, o georreferenciamento coleta e analisa dados espaciais. Ele atribui coordenadas geográficas a elementos como propriedades, fronteiras territoriais, estradas, recursos naturais e até mesmo infraestruturas urbanas.</p>
      <p>Dessa forma, o georreferenciamento se mostra essencial para que os cadastros citados sejam feitos de maneira precisa e eficiente, mitigando futuros problemas. Importância: Precisão na Localização; Auxílio na Tomada de Decisão: Fornece informações cruciais para tomadas de decisão em áreas como logística, gestão de recursos naturais, monitoramento ambiental e até mesmo em emergências; Planejamento e Desenvolvimento: Ajuda no planejamento de infraestrutura urbana, monitoramento de mudanças no uso da terra, prevenção de desastres e apoio a projetos de desenvolvimento regional; Legalidade e Regularização: essencial para a regularização fundiária de propriedades rurais, sendo um requisito legal para a emissão de documentos como o CCIR (Cadastro de Imóveis Rurais).   </p>
    </div>

  </div>

</div>
