<div class="container-products">
  <div class="products-title text-center m-5 p-2">
    <h1>Nossos serviços</h1>
  </div>
  <div class="products-grid d-flex justify-content-evenly row">
    <div class="product-card text-center col-sm-10 col-md-5">
      <h3> Levantamentos topográficos </h3>
      <p> Essenciais para a concepção e execução de projetos e obras por engenheiros e arquitetos, os levantamentos topográficos constituem a base fundamental do projeto. Este processo abrange minuciosamente o terreno, fornecendo dados precisos sobre ângulos, distâncias e desníveis, permitindo uma compreensão abrangente e detalhada das características do local. Assim, garantindo a integridade e precisão nas fases subsequentes do desenvolvimento do projeto. </p>
    </div>
    <div class="product-card text-center col-sm-10 col-md-5">
      <h3> Levantamento com drone </h3>
      <p> A topografia com drones nada mais é do que a união da topografia tradicional à fotogrametria (fotografias georreferenciadas tiradas pelo drone). Imagens obtidas por drone são muito úteis, principalmente, em levantamentos executados periodicamente, mas podem facilitar toda a gama de projetos topográficos. Desta forma, é possível entregar resultados mais rápidos e com melhor qualidade, gerando dados mais detalhados com alta produtividade. </p>
    </div>
    <div class="product-card text-center col-sm-10 col-md-5">
      <h3> Georreferenciamento rural </h3>
      <p> Um braço do levantamento topográfico, o georreferenciamento de imóveis rurais é um instrumento do Instituto Nacional de Colonização e Reforma Agrária (Incra) que utiliza dados como forma, dimensão e localização do imóvel para padronizar, regulamentar e identificar um imóvel rural. Desse modo, o proprietário terá acesso a informações precisas sobre o seu imóvel, que serão necessárias para diversos procedimentos e registros. </p>
    </div>
    <div class="product-card text-center col-sm-10 col-md-5">
      <h3> Cadastro Ambiental Rural (CAR) </h3>
      <p> O Cadastro Ambiental Rural – CAR é um registro público eletrônico nacional, obrigatório para todos os imóveis rurais, com a finalidade de integrar as informações ambientais das propriedades e posses rurais, compondo base de dados para controle, monitoramento, planejamento ambiental e econômico e combate ao desmatamento. A inscrição do imóvel rural no CAR é realizada por meio de sistema eletrônico e deverá ser feita junto ao órgão estadual competente, na Unidade da Federação (UF) em que se localiza o imóvel rural. </p>
    </div>
    <div class="product-card text-center col-sm-10 col-md-5">
      <h3> Regularização fundiária </h3>
      <p> A regularização fundiária rural consiste no conjunto de	medidas	jurídicas, ambientais e sociais que	visam a regularização de assentamentos irregulares e à titulação de seus ocupantes, de modo a garantir a função social da propriedade rural, o direito à moradia e o direito ao meio ambiente ecologicamente equilibrado. Portanto, um processo fundamental para garantir o direito do proprietário irregular à sua posse. </p>
    </div>
    <div class="product-card text-center col-sm-10 col-md-5">
      <h3> Loteamentos e vias </h3>
      <p> É o processo em que um terreno é dividido em lotes. Dentro do contexto, promover um loteamento significa abrir vias de circulação dentro da área de terra. Além disso, para que o loteamento aconteça, a lei exige a implantação da infraestrutura mínima conforme as diretrizes da legislação federal, estadual e municipal. </p>
    </div>
    <div class="product-card text-center col-sm-10 col-md-5">
      <h3> Locação de equipes </h3>
      <p> O serviço de locação de equipe de topografia compreende toda a análise prévia necessária para a concepção do projeto e execução da obra, garantindo segurança e agilidade no trabalho e pode evitar desperdício de tempo e recursos, além de garantir a segurança no trabalho de campo. </p>
    </div>
    <div class="product-card text-center col-sm-10 col-md-5">
      <h3> Corte, aterro e reaterro </h3>
      <p> O aterro é utilizado para elevar o nível do terreno, criando superfícies elevadas para construção. O reaterro é empregado para compactar o solo ao redor de estruturas existentes, proporcionando suporte e estabilidade. Esses processos são essenciais na construção civil para garantir a segurança e a durabilidade das estruturas, bem como para adaptar o terreno às necessidades específicas de um projeto. </p>
    </div>
    <div class="product-card text-center col-sm-10 col-md-5">
      <h3> Batimetria </h3>
      <p> Batimetria é o estudo e medição das profundidades dos corpos d'água, como oceanos, mares, lagos e rios. Serve para mapear o fundo dos corpos d'água, fornecendo informações precisas sobre a topografia subaquática. É amplamente utilizado em hidrografia, navegação, estudos ambientais e exploração de recursos subaquáticos. </p>
    </div>
    <div class="product-card text-center col-sm-10 col-md-5">
      <h3> Locação de obra </h3>
      <p> Nosso serviço de locação de obra oferece uma abordagem prática e técnica para posicionar com precisão elementos fundamentais na sua construção. Através de levantamentos topográficos detalhados, identificamos as melhores áreas para a implantação de estruturas, considerando fatores como elevação, inclinação do terreno e condições geotécnicas. Essa precisão na locação proporciona uma base sólida para o desenvolvimento do seu projeto, contribuindo para a eficiência construtiva e o melhor aproveitamento do espaço disponível. Conte conosco para garantir uma fundação sólida para o sucesso da sua empreitada. </p>
    </div>
    <div class="product-card text-center col-sm-10 col-md-5">
      <h3> Agricultura de precisão </h3>
      <p> Na agricultura de precisão, adotamos uma abordagem inovadora para maximizar a eficiência agrícola. Utilizando tecnologias de topografia, mapeamos minuciosamente cada hectare de sua propriedade. Isso nos permite compreender a variabilidade do solo, identificar áreas com potencial produtivo e otimizar o uso de recursos como água e fertilizantes. Ao implementar técnicas de precisão, personalizamos as práticas agrícolas para atender às necessidades específicas de cada região do seu campo. Isso não apenas aumenta a produtividade, mas também reduz o desperdício e os impactos ambientais.  </p>
    </div>
    <div class="text-center col-sm-10 col-md-5">

    </div>
  </div>
  <div class="products-slogan text-center m-3 p-2">
    <h1 style="color: #2C4C30;">Analise</h1>
    <h1 style="color: #419049;">Pense,</h1>
    <h1 style="color: #2C4C30;">Inove!</h1>
  </div>
</div>
