.login-home {
  width: 60px;
  border-radius: 4px;
  background-color: #51C874 !important;
  box-shadow: 0px 0px 2px #5c5339d5;
  margin-right: 8px;
  transition: 0.3s;
  p {
    color: #2C4C30;
  }
  &:hover {
    // background-color: #f8e5ad !important;
    font-weight: bold;
    box-shadow: 1px 1px 2px #5c5339d5;
  }
  &:active {
    box-shadow: -2px -2px 4px 0px #5c5339d5;
  }
}

.btn-choose-role {
  // width: 60px;
  padding: 8px;
  border-radius: 4px;
  background-color: #51C874 !important;
  box-shadow: 0px 0px 2px #5c5339d5;
  margin-top: 24px;
  transition: 0.3s;
  p {
    color: #2C4C30;
  }
  &:hover {
    // background-color: #f8e5ad !important;
    font-weight: bold;
    box-shadow: 1px 1px 2px #5c5339d5;
  }
  &:active {
    box-shadow: -2px -2px 4px 0px #5c5339d5;
  }
}

.btn-login-form {
  text-decoration: none;
  color: #2C4C30;
  padding: 4px;
  border-radius: 4px;
  background-color: #51C874 !important;
  box-shadow: 0px 0px 2px #5c5339d5;
  margin-top: 16px !important;
  margin-left: 8px !important;
  transition: 0.3s;
  &:hover {
    // background-color: #f8e5ad !important;
    font-weight: bold;
    box-shadow: 1px 1px 2px #5c5339d5;
  }
  &:active {
    box-shadow: -2px -2px 4px 0px #5c5339d5;
  }
}


.btn-registrar {
  color: #203823;
  padding: 4px;
  border: 0.5cm;
  border-radius: 2px;
  background-color: #51C874 !important;
  box-shadow: 0.5px 0.5px 0.5px #a0957586;
  transition: 0.3s;
  &:hover {
    // background-color: #f8e5ad !important;
    font-weight: bold;
    box-shadow: 0.5px 0.5px 1px #5c5339d5;
  }
  &:active {
    box-shadow: -0.5px -0.5px 2px 0px #5c5339d5;
  }
}
