.footer {
  padding: 12px;
  height: 150px;
  box-shadow: 0 2px 8px #2C4C30;
  background-color: #e9e9e9;
  p {
    padding: 0;
    margin: 0;
  }
}

.logotipo-footer {
  width: 132px;
  height: 76px;
}
